<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Member's Only is a simple Express app that allows users to sign up, log in, and post messages to a message board."
    />
    <link rel="icon" href="/images/mo-icon.svg" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Member's Only: An Express App</title>
  </head>
  <body class="bg-neutral-950 text-stone-200 font-roboto px-4 md:px-8 lg:px-10">
    <header class="flex max-w-screen-xl mx-auto justify-between py-4 sm:py-6 md:py-8 items-center gap-4">
      <img src="/images/mo-icon.svg" alt="Member's Only Logo" height="44px" width="44px">
      <nav>
        <ul class="flex gap-6">
          <li><a class='text-sm sm:text-base py-3 px-2 hover:font-bold hover:text-red-500 hover:bg-red' href="/">Home</a></li>
          <li><a class='text-sm sm:text-base py-3 px-2 hover:font-bold hover:text-red-500' href="/signup">Signup</a></li>
          <li><a class='text-sm sm:text-base py-3 px-2 hover:font-bold hover:text-red-500' href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <main class="max-w-screen-xl mx-auto my-1 md:my-8 lg:my-10">

    