<%- include('partials/header') %>

<section class="flex flex-col items-center text-center" aria-label="Page Title">
  <h1
    class="text-2xl font-black uppercase tracking-tight sm:text-3xl md:text-4xl lg:text-5xl"
  >
    Members Only
  </h1>
  <p class="text-sm text-stone-400 sm:text-base md:text-lg lg:text-xl">
    The Exclusive Message Board
  </p>
</section>

<%- include('partials/footer') %>
