<%- include('partials/header') %>

<section aria-label="Sign Up" class="mx-auto flex flex-col text-center">
  <h1
    class="text-2xl font-black tracking-tight uppercase sm:text-3xl md:text-4xl lg:text-5xl"
  >
    Join Us!
  </h1>
  <p
    class="text-sm sm:text-base md:text-lg lg:text-xl text-stone-400 sm:mt-1 md:mt-2 mb-8"
  >
    Fill out the form below to join the club
  </p>

  <% if (errors.length > 0) { %>
  <div
    class="border-red-500 text-red-400 border-2 border-solid rounded-md max-w-screen-sm mx-auto form-width mb-8 p-4 text-left text-sm sm:text-base"
  >
    <h2 class="font-bold">Something went wrong:</h2>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    </li>
  </div>
  <% }) %> <% } %>

  <form
    method="post"
    action="/signup"
    class="grid gap-4 mx-auto form-width bg-zinc-900 p-4 rounded-md"
  >
    <input
      type="email"
      name="email"
      placeholder="Email"
      aria-label="Email"
      minlength="5"
      maxlength="320"
      required
      class="bg-zinc-800 text-stone-200 md:text-base placeholder-stone-400 border border-zinc-700 text-sm rounded-md focus:ring-red-500 focus:border-red-500 block w-full p-2.5"
    />
    <input
      type="text"
      name="firstName"
      placeholder="First Name"
      aria-label="First Name"
      minlength="2"
      maxlength="50"
      required
      class="bg-zinc-800 text-stone-200 md:text-base placeholder-stone-400 border border-zinc-700 text-sm rounded-md focus:ring-red-500 focus:border-red-500 block w-full p-2.5"
    />
    <input
      type="text"
      name="lastName"
      placeholder="Last Name"
      aria-label="Last Name"
      minlength="2"
      maxlength="50"
      required
      class="bg-zinc-800 text-stone-200 md:text-base placeholder-stone-400 border border-zinc-700 text-sm rounded-md focus:ring-red-500 focus:border-red-500 block w-full p-2.5"
    />
    <input
      type="text"
      name="username"
      placeholder="Username"
      aria-label="Username"
      minlength="3"
      maxlength="30"
      required
      class="bg-zinc-800 text-stone-200 md:text-base placeholder-stone-400 border border-zinc-700 text-sm rounded-md focus:ring-red-500 focus:border-red-500 block w-full p-2.5"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      aria-label="Password"
      minlength="8"
      maxlength="30"
      required
      class="bg-zinc-800 text-stone-200 md:text-base placeholder-stone-400 border border-zinc-700 text-sm rounded-md focus:ring-red-500 focus:border-red-500 block w-full p-2.5"
    />
    <input
      type="password"
      name="passwordConfirmation"
      placeholder="Confirm Password"
      aria-label="Confirm Password"
            minlength="8"
      maxlength="30"
      required
      class="bg-zinc-800 text-stone-200 md:text-base placeholder-stone-400 border border-zinc-700 text-sm rounded-md focus:ring-red-500 focus:border-red-500 block w-full p-2.5"
    />
    <input
      type="password"
      name="secretCode"
      placeholder="Secret Code = 'imember'"
      aria-label="Secret Code"
      class="bg-zinc-800 text-stone-200 md:text-base placeholder-stone-400 border border-zinc-700 text-sm rounded-md focus:ring-red-500 focus:border-red-500 block w-full p-2.5"
    />
  </form>

  <button
    class="bg-red-700 py-2 md:text-lg md:py-3 my-6 px-8 md:px-12 lg:px-16 font-bold tracking-wide rounded-md mx-auto transition-all hover:bg-red-600"
    type="submit"
  >
    Signup
  </button>
</section>

<%- include('partials/footer') %>
